<h1> Houses of Westeros </h1>
<p> <%= link_to 'Add a New House', new_house_path %>
<% @houses.each do |house| %>
  <h3> <%=house.name%> </h3>
  <p> <%=house.motto%></p>
  <img src="<%=house.sigil_url%>">
  <%= link_to 'View House Details', house_path(house) %>
  <%= link_to 'Edit This House', edit_house_path(house) %>
  <%= link_to 'Delete This House', house_path(house), method: :delete %>

<%end%>
