<div class="houseShow">
  <h1> <%= @house.name %> </h1>
  <p> <%= @house.motto %> <p>
  <img src="<%= @house.sigil_url %>">

<h3> Current House Members </h3>
<% @house.characters.each do |char| %>
  <ul>
    <li><%= char.name %>
      <ul>
          <li>Weapon: <%= char.weapon %></li>
          <li><% if char.dead == false %>
                <%= "They are alive for now" %>
              <% elsif char.dead == true %>
                <%= "They are DEAD!" %>
              <% end %>
            </li>
        </ul>
      </ul>
    <%end%>
  </div>
<div class="addCharacter">
<h2> Add A Character </h2>
<%= form_for ([@house, @house.characters.build]) do |f| %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :weapon %>
    <%= f.text_field :weapon %>
  </p>

  <p>
  <%= radio_button_tag(:dead, true) %>
  <%= label_tag( "They are dead.") %>
  <%= radio_button_tag(:dead, false) %>
  <%= label_tag("They are alive...for now.") %>
  </p>

  <p>
    <%= f.submit%>
  </p>
<% end %>
 </div>
    <%= link_to 'Edit This House', edit_house_path(@house) %>
