<div class="houseShow">
  <h1> <%= @house.name %> </h1>
  <p> <%= @house.motto %> <p>
  <img src="<%= @house.sigil_url %>">

<h3> Current House Members </h3>
<% @house.characters.each do |char| %>
  <ul>
    <li><%= link_to char.name, house_character_path(char) %>
      <ul>
          <li>Weapon: <%= char.weapon %></li>
          <li><% if char.dead == false %>
                <%= "They are alive for now" %>
              <% elsif char.dead == true %>
                <%= "They are DEAD!" %>
              <% end %>
            </li>
        </ul>
      </ul>
      <%= link_to "Delete This Character", house_character_path(char), method: :delete %>
      <%= link_to "Edit This Character", edit_house_character_path(char) %>
    <%end%>
  </div>
<div class="addCharacter">
<h2> Add A Character </h2>
<%= form_for ([@house, @house.characters.build]) do |f| %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :weapon %>
    <%= f.text_field :weapon %>
  </p>

  <p>
  <%= f.label :dead, "They are dead." %>
  <%= f.radio_button :dead, true %>
  <%= f.label :dead, "They are alive...for now." %>
  <%= f.radio_button :dead, false %>
  </p>

  <p>
    <%= f.submit%>
  </p>
<% end %>
 </div>
    <%= link_to 'Edit This House', edit_house_path(@house) %>
